.card {
  margin: -100px 10px;
  width: 30%;
  height: 100%;
  background-color: rgb(255 255 255 / 44%);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  box-shadow: 4px 6px 8px 0px #00000063;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.card:hover{
  transform: translateY(-3px);
  transition-duration: 600ms;
  cursor: pointer;
  box-shadow: 10px 15px 12px 0px rgba(0, 0, 0, 0.5);
}

.card-title {
  margin-bottom: 15px;
  color: #ffffff;
  text-decoration: none;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
