bg-dark{
  background: color #db0000 !important;
  border-radius: inherit;
}
Nav{
  height: 100px;
  border-radius: inherit;
}
#weather{
  margin-left: 3rem;
}
Link{
  color: #ffffff;
  text-decoration: none;
}
.about{
   color: #ffffff;
  text-decoration: none;
}